#bodyRegisterSaleClothes {
    -fx-background-color: #005e43bf;
}

#headerRegisterSaleClothes {
    -fx-background-color: #005e43ed;
}

#menuRegisterSaleClothes {
    -fx-background-color: #005e43ed;
}