#menuRegistrationClient {
    -fx-background-color: #162345;
}

#paneTitleClient {
    -fx-background-color: #162345;
}

#title {
    -fx-font-size: 22x;
    -fx-text-fill: #fff;
}

#customerRegistrationFields {
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
}

#customerInformation {
    -fx-text-fill: #fff;
    -fx-border-radius: 5px;
    -fx-background-color: #1c1b21;
    -fx-border-color: #162345 #162345 #162345 #162345;
}

#customerInformation:focused {
  -fx-border-color: #0978eb;    
}

#btnCustomerRegistration {
    -fx-border-color: #162345 #162345 #162345 #162345;
    -fx-background-color: #1c1b21;
    -fx-text-fill: #fff;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

#btnCustomerRegistration:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0978eb; 
    -fx-text-fill: #1c1b21;
    -fx-border-color: #0978eb;
    -fx-cursor: hand;
}

#btnBack {
    -fx-border-color: #162345 #162345 #162345 #162345;
    -fx-background-color: #1c1b21;
    -fx-text-fill: #fff;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

#btnBack:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0978eb; 
    -fx-text-fill: #1c1b21;
    -fx-border-color: #0978eb;
    -fx-cursor: hand;
}

#paneNotificationWarning {
    -fx-background-color: #162345;
    -fx-border-radius: 5px;
    visibility: hidden;
}

#headerNotificationWarning {
    -fx-background-color: #0b55a2f1;
}

#btnCloseNotificationWarning {
    -fx-border-color: #0b55a2 #0b55a2 #0b55a2 #0b55a2;
    -fx-background-color: #0b55a2;
    -fx-text-fill: #fff;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

#btnCloseNotificationWarning:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0978eb; 
    -fx-text-fill: #1c1b21;
    -fx-border-color: #0978eb;
    -fx-cursor: hand;
}

#notificationWarning {
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
}