#productRegistrationForm {
    -fx-background-color: #4C807E;
}

#btnBack {
    -fx-background-color: #EA2135;
    -fx-border-radius: 5px;
    -fx-border-color: #EA2135 #EA2135 #EA2135 #EA2135;
    -fx-cursor: hand;
}

#productRegistrationField {
    -fx-background-color: #4C807E;
    -fx-border-color: #fff;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-font-size: 12px;
}

#productRegistrationFields:hover {
    -fx-border-color: #1e4388;
}

#labelStockRegistration {
    -fx-font-size: 16px;
}

#btnRegister {
    -fx-background-color: #EA2135;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

#menuStockRegistration, #headerStockRgistration {
    -fx-background-color: #fff;
}

#paneDecoration {
    -fx-background-color: #EA2135;
}