#bodyRegisterSaleClothes {
    -fx-background-color: #34AD52;
}

#headerRegisterSaleClothes, #menuRegisterSaleClothes {
    -fx-background-color: #26803D;
}

#fieldRegisterProduct {
    -fx-border-color: #005e43ed;
    -fx-border-radius: 5px;
    -fx-background-color: #34AD52;
    -fx-text-fill: #fff;
}

#btnProductView {
    -fx-border-color: #005e43ed;
    -fx-border-radius: 5px;
    -fx-background-color: #34AD52;
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
}

#btnProductView:hover {
    -fx-border-color: #fff;
    -fx-cursor: hand;
}