#headerConsultClothingSale,
#menuConsultClothingSale {
    -fx-background-color: #e64e4685;;
}

#bodyConsultClothingSale {
    -fx-background-color: #e64e46;
}

#fieldSearchClothingSale {
    -fx-border-color: #63033c #63033c #63033c #63033c;
    -fx-border-radius: 5px;
    -fx-background-color: #e64e46;
    -fx-text-fill: #fff;
}

#btnBackChooseConsultClothingSala {
    -fx-border-color: #63033c #63033c #63033c #63033c;
    -fx-border-radius: 5px;
    -fx-background-color: #e64e46;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

#btnBackChooseConsultClothingSala:hover {
    -fx-border-color: #e64e46 #e64e46 #e64e46 #e64e46;
    -fx-background-color: #63033c;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}